{# 继承母模板 #}
{% extends "base.twig" %}

{% block css %}
  {% block mainCss %}{% endblock %}
{% endblock %}

{% block content %}
  <!--wrapper开始-->
  <div class="bsa-wrapper">
    {% include 'header.twig' %}
    {% include 'sidebar.twig' %}
    <!--页面内容包裹开始-->
    <div class="bsa-content-wrapper">
      <!--内容真正的放置区域-->
      {% block mainContent %}{% endblock %}
    </div>
    <!--页面内容包裹结束-->
    {% include 'footer.twig' %}
  </div>
  <!--wrapper结束-->
  {% include 'switcher-wrapper.twig' %}
{% endblock %}


{% block js %}
  <!--bootstrap-admin主页面js文件-->
  <script src="js/bootstrap-admin.main.js"></script>
  <script>
    $(document).ready(function () {
      // 退出登录前询问
      $(document).on('click', `.bsa-logout-trigger`, function () {

        layer.confirm('确定退出登录吗？', {
          icon: 3,
          btn: ['确定', '关闭'] //按钮
        }, function () {

          //发起ajax请求
          $.ajax({
            url: '/logout'
          }).then(response => {
            if (response.code === 200) {
              layer.msg('退出成功', {icon: 1, time: 800}, () => location.replace('login.html'));
            }
          });
        });

      })

    })
  </script>
  {% block mainJs %}{% endblock %}
{% endblock %}
