<div class="bsa-sidebar">
  <div class="card border-0 h-100">
    <!--  侧边栏头部(用于展示品牌logo)  -->
    <div class="card-header bg-body d-flex align-items-center flex-shrink-0">
      <img src="img/favicon-32x32.png" class="bsa-logo-icon" alt="logo-icon">
      <div class="bsa-logo-text ms-2 bsa-ellipsis-2">bootstrap-admin</div>
    </div>
    <!--  侧边栏身体部分(用于主要的侧边栏菜单)  -->
    <div class="card-body p-0" data-overlayscrollbars-initialize>

    </div>
    <!--  侧边栏底部(用于演示,不需要可删除)  -->
    <div class="card-footer bg-body">
      Version: 2.0.1
    </div>
  </div>
</div>
