{% set mainPage = '应用' %}
{% set page = '邮箱' %}


{% from './components/breadcrumb.twig' import breadcrumb %}


{% extends "layout/main.twig" %}

{% block mainContent %}
  <div class="container-fluid p-3">
    {{ breadcrumb(['应用','邮箱']) }}
  </div>
{% endblock %}
