{% set mainPage = '权限管理' %}
{% set page = '节点列表' %}


{% from './components/breadcrumb.twig' import breadcrumb %}


{% extends "layout/main.twig" %}

{% block mainCss %}
  <link rel="stylesheet" href="lib/jquery-treegrid/css/jquery.treegrid.css">
  <!--  bootstrap-table插件的样式    -->
  <link rel="stylesheet" href="lib/bootstrap-table/dist/bootstrap-table.min.css">
  <link rel="stylesheet"
        href="lib/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.css">
{% endblock %}

{% block mainContent %}
  <div class="container-fluid p-3">
    {{ breadcrumb(['权限管理','节点列表']) }}

    <div class="row g-3 mb-3 ">
      <div class="col-12 bsa-search-area">
        <div class="card border-0 shadow-sm">
          <div class="card-body bg-body">
            <form class="row row-cols-sm-auto g-3 py-2 align-items-center">
              <div class="col-12">
                <div class="row">
                  <label for="name" class="col-sm-auto col-form-label">节点名称</label>
                  <div class="col">
                    <input type="text" class="form-control" id="name" name="name">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <label for="status" class="col-sm-auto col-form-label">是否菜单</label>
                  <div class="col">
                    <select class="form-select" id="status" name="status">
                      <option value="0" selected>所有</option>
                      <option value="1">是</option>
                      <option value="2">否</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-12 gap-2">
                <button type="button" class="btn btn-light bsa-search-btn">
                  <i class="bi bi-search"></i>搜索
                </button>
                <button type="button" class="btn btn-light bsa-reset-btn">
                  <i class="bi bi-arrow-clockwise"></i>重置
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card border-0 shadow-sm">
          <div class="card-body bg-body">
            <!--  表格上方左侧的工具条区域    -->
            <div id="toolbar" class="d-flex flex-wrap gap-2 mb-2">
              <button class="btn btn-light" data-bsa-href="node-root-add.html"><i
                  class="bi bi-plus"></i> 添加根节点
              </button>
              <button class="btn btn-light bsa-slide-toggle-btn"><i class="bi bi-arrows-collapse"></i> 展开/折叠
              </button>
            </div>
            <!--  数据表格    -->
            <table id="table"></table>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}


{% block mainJs %}
  <script src="js/bootstrap-admin.bootstrap-table.js"></script>
  <script src="lib/jquery.cookie/jquery.cookie.js"></script>
  <script src="lib/jquery-treegrid/js/jquery.treegrid.min.js"></script>
  <script src="lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
  <script src="lib/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
  <!--bootstrap-table固定列拓展-->
  <script src="lib/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.js"></script>
  <!--bootstrap-table树列表treegrid拓展-->
  <script src="lib/bootstrap-table/dist/extensions/treegrid/bootstrap-table-treegrid.min.js"></script>

  <script>
    $(document).ready(function () {

      const $table = $('#table');

      // 列配置
      const columns = [
        {
          field: 'name',
          title: '节点名称',
          width: 20,
          widthUnit: '%'
        },
        {
          field: 'route_name',
          align: 'center',
          title: '路由别名'
        },

        {
          field: 'type',
          title: '类型',
          align: 'center',
          formatter: formatType
        },
        {
          field: 'icon',
          title: '图标',
          align: 'center',
          formatter: formatIcon
        },
        {
          title: '是否菜单',
          field: 'is_menu',
          align: 'center',
          formatter: formatIsMenu
        },
        {
          title: '加入时间',
          field: 'create_at',
          align: 'center',
        },
        {
          title: '操作',
          align: 'center',
          formatter: formatAction
        }
      ]


      //treegrid拓展配置 参阅:https://bootstrap-table.com/docs/extensions/treegrid/
      $.bootstrapTable.Default.table.idField = 'id'
      $.bootstrapTable.Default.table.parentIdField = 'pid'
      $.bootstrapTable.Default.pagination.pagination = false


      //初始化treegrid拓展
      $.bootstrapTable.treegridExtInit($table, 'name')
      //处理treegrid插件点击行可以展开折叠当前行
      $.bootstrapTable.treegridExtSlideToggleClickRow($table)
      //展开折叠处理
      $.bootstrapTable.treegridExtSlideToggleByButton($table, '.bsa-slide-toggle-btn')



      $table.bootstrapTable({
        // 请求方法
        method: 'get',
        // 请求地址
        url: '/node',
        // 请求得到的数据类型
        dataType: 'json',
        // 响应处理,如果服务端返回的数据不是指定的格式，可以在前端进行处理
        responseHandler: function (res) {
          return res.data;
        },
        queryParams: function (params) {//params是一个对象
          //左边是发送到服务端的字段参数，这里是随便做的示例,根据需求跳调整
          return {
            // 每页数据量
            limit: params.limit,
            // sql语句起始索引
            offset: params.offset,
            page: (params.offset / params.limit) + 1,
            // 排序的列名
            sort: params.sort,
            // 排序方式 'asc' 'desc'
            sortOrder: params.order,
            //节点名称
            keywords: $('input[name=name]').val(),
          }
        },
        ...$.bootstrapTable.Default.pagination,
        ...$.bootstrapTable.Default.icon,
        ...$.bootstrapTable.Default.toolbar,
        ...$.bootstrapTable.Default.table,
        columns
      });


      function formatIsMenu(value, row, index) {
        if (value === 1) {
          return '<span class="badge rounded-pill text-bg-success">是</span>'
        }
        return '-'
      }


      function formatType(value, row, index) {

        if (value === 0) {
          return '<span class="badge text-bg-primary">分类</span>'
        } else if (value === 1) {
          return '<span class="badge text-bg-success">显示</span>'
        }
        return '<span class="badge text-bg-danger">处理</span>'

      }


      function formatIcon(value, row, index) {
        return `<i class="${value}"></i>`
      }

      function formatAction(value, row, index, field) {

        const $btnTpl = $('<button type="button" class="btn btn-light btn-sm"></button>');


        const addBtnHtml = $btnTpl.clone()
          .addClass('me-2')
          .attr('data-bs-toggle', 'tooltip')
          .attr('data-bsa-href', `node-child-add.html?id=${row.id}`)
          .attr('data-bs-placement', 'top')
          .attr('data-bs-title', '添加子节点')
          .html('<i class="bi bi-plus"></i>')
          .prop('outerHTML');


        const editBtnHtml = $btnTpl.clone()
          .addClass('me-2')
          .attr('data-bs-toggle', 'tooltip')
          .attr('data-bsa-href', `node-edit.html?id=${row.id}`)
          .attr('data-bs-placement', 'top')
          .attr('data-bs-title', '修改')
          .html('<i class="bi bi-pencil"></i>')
          .prop('outerHTML');


        const $delBtn = $btnTpl.clone()
          .addClass('me-2')
          .addClass('del-btn')//绑定class用于事件委托点击处理
          .attr('data-bs-toggle', 'tooltip')
          .attr('data-bs-placement', 'top')
          .attr('data-bs-title', '删除')
          .html('<i class="bi bi-trash3"></i>');
        $.each(row, function (key, value) {
          $delBtn.attr('data-bsa-' + key, value);
        });

        return addBtnHtml + editBtnHtml + $delBtn.prop('outerHTML');
      }


      //删除处理
      $(document).on('click', '.del-btn', function (event) {
        event.preventDefault()

        //获取数据
        const id = $(this).attr('data-bsa-id');
        const name = $(this).attr('data-bsa-name');

        layer.confirm(`确定删除节点[${name}]吗？`, {
          icon: 3,
          btn: ['确定', '关闭'] //按钮
        }, function () {
          //发起ajax请求
          $.ajax({
            url: `/node/${id}`,
            method: 'delete',
          }).then(response => {
            if (response.code === 200) {
              layer.msg('删除成功', {time: 800, icon: 1}, () => {
                $.bootstrapTable.refresh($table)
              });
            }
          });
        });
      })


    })
  </script>
{% endblock %}
