{% set mainPage = '我的设置' %}
{% set page = '个人资料' %}

{% from './components/breadcrumb.twig' import breadcrumb %}


{% extends "layout/main.twig" %}


{% block mainCss %}
  <link rel="stylesheet" href="lib/uppy/dist/uppy.min.css">
{% endblock %}

{% block mainContent %}
  <div class="container-fluid p-3">

    {{ breadcrumb(['设置','我的设置','个人资料']) }}

    <div class="row g-3 mb-3">
      <div class="col">
        <div class="card border-0 shadow-sm">
          <div class="card-header bg-body">
            设置我的资料
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-5">
                <form id="form">
                  <div class="row mb-3">
                    <label for="username" class="col-sm-3 col-form-label text-sm-end">用户名</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="username" name="username" readonly value="admin88"
                             disabled>
                      <div class="form-text">不可修改。一般用于后台登入名</div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="nickname" class="col-sm-3 col-form-label text-sm-end">昵称</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="nickname" name="nickname" value="欲饮琵琶码上催">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="nickname" class="col-sm-3 col-form-label text-sm-end">性别</label>
                    <div class="col-sm-9">
                      <div class="d-flex align-items-center h-100">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                 value="option1" checked>
                          <label class="form-check-label" for="inlineRadio1">男</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                 value="option2">
                          <label class="form-check-label" for="inlineRadio2">女</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="avatar" class="col-sm-3 col-form-label text-sm-end">头像</label>
                    <div class="col-sm-9">
                      <div id="avatar"></div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="phone" class="col-sm-3 col-form-label text-sm-end">手机</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="phone" name="phone" value="19978451354">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="email" class="col-sm-3 col-form-label text-sm-end">邮箱</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="email" name="email" value="lujiahao@88.com">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="desc" class="col-sm-3 col-form-label text-sm-end">备注</label>
                    <div class="col-sm-9">
                      <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-9 offset-sm-3">
                      <button type="submit" class="btn btn-primary">确认修改</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}


{% block mainJs %}
  <script src="lib/formvalidation/js/formValidation.js"></script>
  <script src="lib/formvalidation/js/framework/bootstrap.js"></script>
  <script src="lib/formvalidation/js/language/zh_CN.js"></script>

  <script src="lib/uppy/dist/uppy.min.js"></script>
  <script type="module" src="lib/@uppy/locales/lib/zh_CN.js"></script>
  <script type="module">
    $(document).ready(function () {


      const uppy = new Uppy.Uppy({
        debug: true,
        locale: Uppy.locales.zh_CN,
      });

      uppy.use(Uppy.Dashboard, {
        inline: true,
        target: '#avatar',
        height: 300
      })
        .use(Uppy.XHRUpload, {
          id: 'XHRUpload',
          endpoint: '/file/upload',
          method: 'post',
          formData: true,
          fieldName: 'file',
          bundle: true,
          timeout: 30 * 1000,
          limit: 0,
        });

      uppy.on('complete', (result) => {
        console.log('Upload complete! We’ve uploaded these files:', result.successful)
      })


      $('#form').formValidation({
        fields: {
          desc: {
            validators: {
              notEmpty: true,
            }
          }
        }
      }).on('success.form.fv', function (e) {
        //阻止表单提交
        e.preventDefault();
        //得到表单对象
        const $form = $(e.target);
        const data = $form.serialize();

        //ajax请求
        $.ajax({
          url: "/profile",
          method: 'put',
          data
        }).then(function (response) {
          if (response.code === 200) {
            layer.msg('操作成功', {time: 800, icon: 1});
          }
        });

      });
    })

  </script>
{% endblock %}
