{% set mainPage = '我的设置' %}
{% set page = '修改密码' %}

{% from './components/breadcrumb.twig' import breadcrumb %}


{% extends "layout/main.twig" %}

{% block mainContent %}
  <div class="container-fluid p-3">

    {{ breadcrumb(['设置','我的设置','修改密码']) }}

    <div class="row g-3 mb-3">
      <div class="col">
        <div class="card border-0 shadow-sm">
          <div class="card-header bg-body">
            修改密码
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-5">
                <form id="form">
                  <div class="row mb-3">
                    <label for="oldPassword" class="col-sm-3 col-form-label text-sm-end">当前密码</label>
                    <div class="col-sm-9">
                      <input type="password" autocomplete class="form-control" id="oldPassword"
                             name="oldPassword">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="password" class="col-sm-3 col-form-label text-sm-end">新密码</label>
                    <div class="col-sm-9">
                      <input type="password" autocomplete class="form-control" id="password" name="password">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="rePassword" class="col-sm-3 col-form-label text-sm-end">确认新密码</label>
                    <div class="col-sm-9">
                      <input type="password" autocomplete class="form-control" id="rePassword"
                             name="rePassword">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-9 offset-sm-3">
                      <button type="submit" class="btn btn-primary">确认修改</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block mainJs %}
  <script src="lib/formvalidation/js/formValidation.js"></script>
  <script src="lib/formvalidation/js/framework/bootstrap.js"></script>
  <script src="lib/formvalidation/js/language/zh_CN.js"></script>
  <script>

    $(document).ready(function () {
      $('#form').formValidation({
        fields: {
          oldPassword: {
            validators: {
              notEmpty: true,
            }
          },
          password: {
            validators: {
              notEmpty: true,
            }
          },
          rePassword: {
            validators: {
              notEmpty: true,
            }
          }
        }
      }).on('success.form.fv', function (e) {
        //阻止表单提交
        e.preventDefault();
        //得到表单对象
        const $form = $(e.target);
        const data = $form.serialize();

        $.ajax({
          url: "/login.php",
          method: 'POST',
          data
        }).then(function (res) {
          if (res.code === 200) {
            //登录成功
          } else {
            //登录失败
          }
        });
      });
    })

  </script>
{% endblock %}
