// 内容区域
.bsa-content {
  padding-top: var(--bsa-header-height);
  padding-bottom: var(--bsa-footer-height);
  padding-left: var(--bsa-sidebar-width);

  @include media-breakpoint-down(lg) {
    padding-left: 0;
  }

  &.bsa-content-fixed{
    position: fixed;
    inset: var(--bsa-header-height) 0 var(--bsa-footer-height) var(--bsa-sidebar-width);
    padding-top: unset !important;
    padding-bottom: unset !important;
    padding-left: unset !important;
    overflow: hidden;
    &.fullscreen {
      inset: 0;
      z-index: 9999;
    }
    @include media-breakpoint-down(lg) {
      left: 0;
    }
  }
}

