// 侧边栏
.#{$bsa-prefix}sidebar-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: calc(var(--#{$bsa-prefix}base-zindex) + 20);
  width: var(--#{$bsa-prefix}sidebar-width);
  background-color: var(--#{$prefix}body-bg);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .12);
  transition: 0.3s transform, 0.3s width;
  transform: translateX(0);
  will-change: transform;

  //小屏幕下直接隐藏
  @include media-breakpoint-down(lg) {
    box-shadow: none;
    transform: translateX(-100%);
  }

  .card-header {
    height: var(--#{$bsa-prefix}header-height);
    box-shadow: 0 1px 1px -1px rgba(var(--#{$prefix}dark-rgb), 0.25);


    .#{$bsa-prefix}logo-text {
      font-size: 18px;
      margin-bottom: 0;
      letter-spacing: 1px;
      color: var(--#{$prefix}body-color);
    }
  }



  .card-footer {
    border-top: none;
    box-shadow: 0 -1px 1px -1px rgba(var(--#{$prefix}dark-rgb), 0.25);
  }


}
