.email-wrapper {
  width: auto;
  height: 600px;
  overflow: hidden;
  border-radius: .25rem;
  position: relative;
  background: #fff;
  box-shadow: 0 .1rem .7rem rgba(0, 0, 0, .1);



  @include media-breakpoint-down(lg) {
    //邮箱的遮罩层
    .#{$bsa-prefix}email-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #000;
      height: 100%;
      width: 100%;
      opacity: .5;
      z-index: 9;
      display: none;
      cursor: move;
      transition: all .3s ease-out;
    }
  }

  .email-sidebar {
    width: 250px;
    height: 100%;
    position: absolute;
    background: #fff;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, .125);
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;

    //小屏幕下处理
    @include media-breakpoint-down(lg) {
      left: -250px;
    }

    .card-header {
      min-height: 70px;
    }


    .card-body {

      a.list-group-item {
        color: #404142;
        padding: .35rem 1.25rem;
        background-color: #fff;
        border-bottom: 1px solid rgb(0 0 0 / 0%);
        transition: all .3s ease-out;

        &:hover {
          background-color: rgb(13 110 253 / .12)
        }

        &.active {
          color: #0b5ed7;
          font-weight: 600;
          background-color: rgb(13 110 253 / .12)
        }
      }

      .email-navigation {
        height: 345px;
        border-bottom: 1px solid rgba(0, 0, 0, .125);
        overflow: auto;
      }
    }

    .card-footer{
        .email-hangout .chat-user-online:before {
          content: '';
          position: absolute;
          bottom: 8px;
          left: 45px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          box-shadow: 0 0 0 2px #fff;
          background: #16e15e
        }
    }
  }

  .email-main {
    margin-left: 250px;


    @include media-breakpoint-down(lg) {
      margin-left: 0;
    }

    .email-toggle-btn {
      width: auto;
      height: auto;
      margin-right: 10px;
      text-align: center;
      font-size: 24px;
      color: #404142;
      border-radius: 0;
      cursor: pointer;
      background-color: #fff;
      border: 0 solid rgb(0 0 0 / 15%);
      display: none;
      @include media-breakpoint-down(lg) {
        display: inline-block;
      }
    }

    .card-header {
      min-height: 70px;
    }

    .email-message {
      background: #fff;
      border-bottom: 1px solid rgb(0 0 0 / 8%);
      color: #383a3c;

      .email-actions {
        width: 220px;
      }

      .email-right {
        width: 180px;
      }

      &:hover {
        transition: all .2s ease-out;
        background-color: #eceef1
      }
    }
  }

  .compose-mail-popup {
    height: 500px;
    max-height: 100%;
    width: 42%;
    position: fixed;
    bottom: 0;
    right: 30px;
    z-index: calc(var(--#{$bsa-prefix}base-zindex) + 40);
    display: none;

    @include media-breakpoint-down(lg) {
      width: auto;
      right: 0;
      left: 0
    }

    .compose-mail-title {
      font-size: 16px
    }

    .compose-mail-close {
      cursor: pointer;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      font-size: 14px;
      border-radius: 2px;
      background-color: rgb(255 255 255 / 0%);

      &:hover {
        background-color: rgb(255 255 255 / 20%)
      }
    }

  }


  &.email-toggled {

    .email-sidebar {
      left: 0;
    }

    .#{$bsa-prefix}email-overlay {
      display: block;
    }

  }

}







